.button-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
}

.button {
    background-color: var(--color-violet-2);
    color: white;
    border-radius: 10px;
    font-size: 13px;
    border-width: 0;
    width: 100%;
}

.button-select > .button {
    width: 45%;
}

.button:active {
    background-color: var(--color-violet-3);
}

.button:disabled {
    color: var(--color-violet-2);
    background-color: var(--color-violet-1);
}

.dancePlayButton, .importJsonButton, .danceSettingsButton, .switchIcon {
    background-color: var(--color-violet-2);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.dancePlayButton:active, .importJsonButton:active, .danceSettingsButton:active, .switchIcon:active {
    background-color: var(--color-violet-3);
}

.danceSettingsButton {
    background-image: resource("SettingsIconWhite");
    background-size: 70% 70%;
    margin-left: 10px;
}

.dancePlayButton {
    background-image: resource("UIControllerPlayIcon");
    background-size: 50% 50%;
}

.importJsonButton {
    padding: 20px;
    background-image: resource("UIControllerImportIcon");
    background-size: 50% 50%;
}

.switchIcon {
    background-image: resource("DanceSchoolSwitchIcon");
    background-size: 50% 50%;
    padding: 20px;
}

.danceSchoolButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-violet-1);
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
}