.settings-emailContainer {
    background-color: var(--color-violet-1);
    border-radius: 10px;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-container {
    margin-top: 10px;
}

.email-label {
    -unity-text-align: middle-center;
}